* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}
#app {
    width: 100vw;
    display: grid;
    grid-template:
             "b   c   d" 1fr /
             2fr 10fr 2fr;
}
i {
    background-repeat: no-repeat;
    background-position: center;
    background-size : contain;
    cursor: pointer;
}



/*<link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@400;500;600&display=swap"*/